In [3]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from IPython.display import display

In [4]:

engine = create_engine('mysql://RC:RC@localhost/RC' , echo=True)

ImportError: libmysqlclient.so.18: cannot open shared object file: No such file or directory

In [2]:

#f.describe()

In [5]:
#f.head()

In [6]:
engine.table_names()

2016-09-16 18:33:32,512 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2016-09-16 18:33:32,513 INFO sqlalchemy.engine.base.Engine ()
2016-09-16 18:33:32,517 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2016-09-16 18:33:32,519 INFO sqlalchemy.engine.base.Engine ()
2016-09-16 18:33:32,522 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2016-09-16 18:33:32,523 INFO sqlalchemy.engine.base.Engine ()
2016-09-16 18:33:32,527 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2016-09-16 18:33:32,528 INFO sqlalchemy.engine.base.Engine ()
2016-09-16 18:33:32,532 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2016-09-16 18:33:32,533 INFO sqlalchemy.engine.base.Engine ()
2016-09-16 18:33:32,536 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2016-09-16 18:33:32,537 INFO sqlalchemy.engine.base.Engine ()
2016-09-16 18:33:32,540 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `RC`
2016-09-16 18:33:32,541 INFO sqlalchemy.engine.base.Engine ()

['alinea',
 'amendement',
 'article',
 'article_loi',
 'article_version',
 'intervention',
 'organisme',
 'parlementaire',
 'parlementaire_amendement',
 'parlementaire_organisme',
 'parlementaire_photo',
 'parlementaire_texteloi',
 'personnalite',
 'presence',
 'preuve_presence',
 'question_ecrite',
 'seance',
 'section',
 'tag',
 'tagging',
 'texteloi',
 'titre_loi',
 'variable_globale']

In [7]:
def debrief_senateurs():
    for table in engine.table_names():
        print(table)
        df = pd.read_sql_query('SELECT * FROM ' + table, engine)
        print(table, df.shape[0] , df.shape[1] , df.columns)
        display(df.head(5))

In [13]:
debrief_senateurs()

2016-07-25 08:46:44,010 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `nossenateurs_prd`
2016-07-25 08:46:44,011 INFO sqlalchemy.engine.base.Engine ()
alinea
2016-07-25 08:46:44,014 INFO sqlalchemy.engine.base.Engine SELECT * FROM alinea
2016-07-25 08:46:44,014 INFO sqlalchemy.engine.base.Engine ()
alinea 0 9 Index(['id', 'nb_commentaires', 'texteloi_id', 'article_loi_id', 'numero',
       'texte', 'ref_loi', 'created_at', 'updated_at'],
      dtype='object')

Empty DataFrame
Columns: [id, nb_commentaires, texteloi_id, article_loi_id, numero, texte, ref_loi, created_at, updated_at]
Index: []

amendement
2016-07-25 08:46:44,025 INFO sqlalchemy.engine.base.Engine SELECT * FROM amendement
2016-07-25 08:46:44,026 INFO sqlalchemy.engine.base.Engine ()
amendement 119297 20 Index(['id', 'nb_commentaires', 'source', 'texteloi_id', 'numero', 'rectif',
       'sujet', 'sort', 'avis_comm', 'avis_gouv', 'date', 'signataires',
       'texte', 'expose', 'ref_loi', 'organisme_id', 'numero_pere',
       'content_md5', 'created_at', 'updated_at'],
      dtype='object')

,id,nb_commentaires,source,texteloi_id,numero,rectif,sujet,sort,avis_comm,avis_gouv,date,signataires,texte,expose,ref_loi,organisme_id,numero_pere,content_md5,created_at,updated_at
0,1,NaN,http://www.senat.fr/amendements/2005-2006/483/...,20052006-483,1,0,Article 1er,Tombe,None,None,2006-10-16,M. Dreyfus-Schmidt,<p>Après les mots :</p><p>décision judiciaire<...,<p>Cet amendement se justifie par son texte mê...,None,NaN,NaN,c56cfc72ecc27070a7413bd108704338,2011-12-05 03:53:54,2011-12-05 03:53:56
1,2,NaN,http://www.senat.fr/amendements/2005-2006/483/...,20052006-483,2,0,Article 2,Tombe,None,None,2006-10-16,M. Dreyfus-Schmidt,<p>Après les mots :</p><p>décision judiciaire<...,<p>Cet amendements se justifie par son texte m...,None,NaN,NaN,1104bc5e55bf8ad8fd2b6d59ed672e18,2011-12-05 03:53:56,2011-12-05 03:53:56
2,3,NaN,http://www.senat.fr/amendements/2004-2005/453/...,20042005-453,1,0,Article 11 bis,Adopté,Favorable,Favorable,2005-07-13,Le Gouvernement,<p>Supprimer cet article.</p>,<p>Le projet de loi en faveur des petites et m...,None,NaN,NaN,645c2b6c430a8491d86d458a557f972a,2011-12-05 03:53:56,2011-12-05 03:53:56
3,4,NaN,http://www.senat.fr/amendements/2008-2009/202/...,20082009-202,1,0,Article 58 a,Adopté,Sagesse,Sagesse,2009-02-19,Mme Troendle,"<p>Dans le second alinéa de cet article, suppr...",<p>L'article 58 A du texte de la commission su...,None,NaN,NaN,de0a5b0c37685756c73d30e726939eab,2011-12-05 03:53:56,2011-12-05 03:53:56
4,5,NaN,http://www.senat.fr/amendements/2008-2009/202/...,20082009-202,2,0,Motion tendant à opposer la question préalable,Rejeté,Défavorable,Défavorable,2009-02-16,"M. Mermaz, les membres du Groupe Socialiste, a...","<p>En application de l'article 44, alinéa 3, d...",<p>Les auteurs de la motion estiment que le ch...,None,NaN,NaN,b0844df9ef01e05d68503f8c1178d7b9,2011-12-05 03:53:56,2011-12-05 03:53:56

article
2016-07-25 08:46:48,721 INFO sqlalchemy.engine.base.Engine SELECT * FROM article
2016-07-25 08:46:48,722 INFO sqlalchemy.engine.base.Engine ()
article 31 15 Index(['id', 'nb_commentaires', 'titre', 'corps', 'user_corps', 'categorie',
       'citoyen_id', 'article_id', 'link', 'status', 'object_id', 'created_at',
       'updated_at', 'version', 'slug'],
      dtype='object')

,id,nb_commentaires,titre,corps,user_corps,categorie,citoyen_id,article_id,link,status,object_id,created_at,updated_at,version,slug
0,1,None,Origine et nature des données publiées,<p></p>,,Faq,2,NaN,@faq,public,NaN,2009-09-14 07:40:37,2009-09-14 07:40:37,3,origine-et-nature-des-donnees-publiees
1,2,None,D'où viennent les données publiées sur le site ?,<p>Toutes les données relatives à l'activité p...,Toutes les données relatives à l'activité parl...,Faq,2,1.0,@faq,public,NaN,2009-09-14 07:46:47,2014-03-16 19:20:06,10,d-ou-viennent-les-donnees-publiees-sur-le-site
2,3,None,Avez vous le droit de publier ces données ?,"<p>Oui, cela est précisé sur le site du <a rel...","Oui, cela est précisé sur le site du <a href=""...",Faq,2,1.0,@faq,public,NaN,2009-09-14 07:47:53,2011-09-22 00:54:26,1,avez-vous-le-droit-de-publier-ces-donnees
3,4,None,"Dans les graphes des sénateurs et la synthèse,...",<p>Si les présences en commission sont enregis...,Si les présences en commission sont enregistré...,Faq,2,1.0,@faq,public,NaN,2009-09-14 07:48:39,2011-09-22 01:13:04,2,dans-les-graphes-des-deputes-et-la-synthese-qu...
4,5,None,"Mais alors, pour les données en hémicycle, com...",<p>Un sénateur est compté comme participant en...,Un sénateur est compté comme participant en hé...,Faq,2,1.0,@faq,public,NaN,2009-09-14 07:49:38,2011-09-22 00:55:59,1,mais-alors-pour-les-donnees-en-hemicycle-comme...

article_loi
2016-07-25 08:46:48,751 INFO sqlalchemy.engine.base.Engine SELECT * FROM article_loi
2016-07-25 08:46:48,752 INFO sqlalchemy.engine.base.Engine ()
article_loi 0 10 Index(['id', 'nb_commentaires', 'texteloi_id', 'titre', 'ordre', 'precedent',
       'suivant', 'expose', 'titre_loi_id', 'slug'],
      dtype='object')

Empty DataFrame
Columns: [id, nb_commentaires, texteloi_id, titre, ordre, precedent, suivant, expose, titre_loi_id, slug]
Index: []

article_version
2016-07-25 08:46:48,763 INFO sqlalchemy.engine.base.Engine SELECT * FROM article_version
2016-07-25 08:46:48,763 INFO sqlalchemy.engine.base.Engine ()
article_version 65 14 Index(['id', 'nb_commentaires', 'titre', 'corps', 'user_corps', 'categorie',
       'citoyen_id', 'article_id', 'link', 'status', 'object_id', 'created_at',
       'updated_at', 'version'],
      dtype='object')

,id,nb_commentaires,titre,corps,user_corps,categorie,citoyen_id,article_id,link,status,object_id,created_at,updated_at,version
0,1,None,D'où viennent les données publiées sur le site ?,<p> * Toutes les données relatives à l'acti...,* Toutes les données relatives à l'activit...,Faq,NaN,NaN,None,public,None,2011-09-22 00:48:22,2011-09-22 00:48:22,1
1,1,None,D'où viennent les données publiées sur le site ?,<p> * Toutes les données relatives à l'acti...,* Toutes les données relatives à l'activit...,Faq,2.0,NaN,None,public,None,2011-09-22 00:48:22,2011-09-22 00:48:22,2
2,1,None,D'où viennent les données publiées sur le site ?,<p> * Toutes les données relatives à l'acti...,* Toutes les données relatives à l'activit...,Faq,2.0,NaN,@faq,public,None,2011-09-22 00:48:22,2011-09-22 00:48:22,3
3,1,None,Origine et nature des données publiées,<p> </p>,,Faq,2.0,NaN,@faq,public,None,2011-09-22 00:48:22,2011-09-22 00:49:16,4
4,2,None,D'où viennent les données publiées sur le site ?,<p>Toutes les données relatives à l'activité p...,Toutes les données relatives à l'activité parl...,Faq,NaN,1.0,None,public,None,2011-09-22 00:50:17,2011-09-22 00:50:17,1

intervention
2016-07-25 08:46:48,793 INFO sqlalchemy.engine.base.Engine SELECT * FROM intervention
2016-07-25 08:46:48,794 INFO sqlalchemy.engine.base.Engine ()
intervention 1643533 16 Index(['id', 'nb_commentaires', 'nb_mots', 'md5', 'intervention', 'timestamp',
       'source', 'seance_id', 'section_id', 'type', 'date', 'personnalite_id',
       'parlementaire_id', 'fonction', 'created_at', 'updated_at'],
      dtype='object')

,id,nb_commentaires,nb_mots,md5,intervention,timestamp,source,seance_id,section_id,type,date,personnalite_id,parlementaire_id,fonction,created_at,updated_at
0,1,NaN,9,7dee4973d41b1dcfd8a3538916379ee6,<p>La séance est ouverte à quinze heures.</p>,20,http://www.senat.fr/seances/s201110/s20111005/...,1,NaN,loi,2011-10-05,NaN,NaN,None,2011-11-05 22:03:56,2011-11-05 22:03:56
1,2,NaN,4,cb2bd7eff9e291ce1ccd49b49851b9dc,<p>Procès-verbal</p>,40,http://www.senat.fr/seances/s201110/s20111005/...,1,1.0,loi,2011-10-05,NaN,NaN,None,2011-11-05 22:03:56,2011-11-05 22:03:56
2,3,NaN,31,3ea49f7b738e01ebf8db6897fd0241fb,<p>Le procès-verbal de la séance du 1er octobr...,60,http://www.senat.fr/seances/s201110/s20111005/...,1,1.0,loi,2011-10-05,NaN,247.0,président,2011-11-05 22:03:56,2011-11-05 22:03:56
3,4,NaN,9,abf0fd07cd248c0779dfd4c97d12e01b,<p>Déclarations de présidents de groupe</p>,80,http://www.senat.fr/seances/s201110/s20111005/...,1,2.0,loi,2011-10-05,NaN,NaN,None,2011-11-05 22:03:56,2011-11-05 22:03:56
4,5,NaN,166,26ed4921913cd3d82ac9921216fd505b,<p>En application de larticle 5 <i>bis</i> de...,100,http://www.senat.fr/seances/s201110/s20111005/...,1,2.0,loi,2011-10-05,NaN,247.0,président,2011-11-05 22:03:56,2011-11-05 22:03:56

organisme
2016-07-25 08:47:30,703 INFO sqlalchemy.engine.base.Engine SELECT * FROM organisme
2016-07-25 08:47:30,703 INFO sqlalchemy.engine.base.Engine ()
organisme 710 6 Index(['id', 'nom', 'type', 'created_at', 'updated_at', 'slug'], dtype='object')

,id,nom,type,created_at,updated_at,slug
0,1,communiste républicain et citoyen,groupe,2011-11-05 21:45:53,2011-11-05 21:45:53,communiste-republicain-et-citoyen
1,2,"Commission de la culture, de l'éducation et de...",parlementaire,2011-11-05 21:45:53,2011-11-05 21:45:53,commission-de-la-culture-de-l-education-et-de-...
2,3,Socialiste,groupe,2011-11-05 21:45:53,2011-11-05 21:45:53,socialiste
3,738,Commission de l'aménagement du territoire et d...,parlementaire,2015-06-18 04:03:46,2015-06-18 04:03:46,commission-de-l-amenagement-du-territoire-et-d...
4,5,"Commission de l'économie, du développement dur...",parlementaire,2011-11-05 21:45:53,2011-11-05 21:45:53,commission-de-l-economie-du-developpement-dura...

parlementaire
2016-07-25 08:47:30,729 INFO sqlalchemy.engine.base.Engine SELECT * FROM parlementaire
2016-07-25 08:47:30,730 INFO sqlalchemy.engine.base.Engine ()
parlementaire 707 29 Index(['id', 'nb_commentaires', 'nom', 'nom_de_famille', 'sexe',
       'date_naissance', 'nom_circo', 'num_circo', 'sites_web', 'debut_mandat',
       'fin_mandat', 'place_hemicycle', 'url_institution', 'profession',
       'autoflip', 'id_institution', 'type', 'groupe_acronyme', 'parti',
       'adresses', 'suppleant_de_id', 'anciens_mandats', 'autres_mandats',
       'mails', 'top', 'villes', 'created_at', 'updated_at', 'slug'],
      dtype='object')

,id,nb_commentaires,nom,nom_de_famille,sexe,date_naissance,nom_circo,num_circo,sites_web,debut_mandat,...,adresses,suppleant_de_id,anciens_mandats,autres_mandats,mails,top,villes,created_at,updated_at,slug
0,1,7.0,Michel Le Scouarnec,Le Scouarnec,H,1949-07-12,Morbihan,None,a:0:{},2011-09-25,...,None,NaN,"a:2:{i:0;s:16:""25/09/2011 / / "";i:1;s:0:"""";}","a:2:{i:0;s:7:""D'Auray"";i:1;s:0:"""";}","a:2:{i:0;s:23:""m.le-scouarnec@senat.fr"";i:1;s:...","a:12:{s:17:""semaines_presence"";a:3:{s:5:""value...","56240 Berné, 56700 Brandérion, 56310 Bubry, 56...",2011-11-05 21:45:53,2016-06-30 04:52:38,michel-le-scouarnec
1,2,NaN,Monique Cerisier-ben Guiga,Cerisier-ben Guiga,F,1942-06-20,Français établis hors de France,None,a:0:{},1992-09-27,...,None,NaN,"a:3:{i:0;s:47:""23/09/2001 / 30/09/2011 / ne se...",None,"a:1:{i:0;s:0:"""";}","a:12:{s:17:""semaines_presence"";a:1:{s:5:""value...",,2011-11-05 21:45:53,2016-06-30 04:53:09,monique-cerisier-ben-guiga
2,3,NaN,Alain Le Vern,Le Vern,H,1948-05-08,Seine-Maritime,None,a:0:{},2007-06-29,...,None,66.0,"a:2:{i:0;s:41:""29/06/2007 / 30/09/2013 / démis...","a:2:{i:0;s:49:""Haute-Normandie / président du ...","a:1:{i:0;s:0:"""";}","a:9:{s:17:""semaines_presence"";a:1:{s:5:""value""...","76170 Auberville-la-Campagne, 76210 Bernières,...",2011-11-05 21:45:54,2016-06-30 04:53:09,alain-le-vern
3,4,4.0,Sophie Primas,Primas,F,1962-06-06,Yvelines,None,"a:3:{i:0;s:32:""https://twitter.com/sophieprima...",2011-09-25,...,None,NaN,"a:2:{i:0;s:16:""25/09/2011 / / "";i:1;s:0:"""";}","a:4:{i:0;s:55:""Seine Mauldre / conseillère de ...","a:2:{i:0;s:17:""s.primas@senat.fr"";i:1;s:0:"""";}","a:12:{s:17:""semaines_presence"";a:3:{s:5:""value...","78260 Achères, 78240 Aigremont, 78240 Chambour...",2011-11-05 21:45:54,2016-06-30 04:52:41,sophie-primas
4,5,2.0,Jean-Pierre Vial,Vial,H,1951-02-17,Savoie,None,"a:1:{i:0;s:22:""http://www.jp-vial.fr/"";}",1995-11-02,...,None,NaN,"a:5:{i:0;s:26:""14/11/1999 / 26/09/2004 / "";i:1...","a:2:{i:0;s:58:""Savoie (canton : La Motte Servo...","a:2:{i:0;s:16:""jp.vial@senat.fr"";i:1;s:0:"""";}","a:12:{s:17:""semaines_presence"";a:3:{s:5:""value...","73610 Aiguebelette-le-Lac, 73340 Aillon-le-Jeu...",2011-11-05 21:45:54,2016-06-30 04:52:41,jean-pierre-vial

parlementaire_amendement
2016-07-25 08:47:30,851 INFO sqlalchemy.engine.base.Engine SELECT * FROM parlementaire_amendement
2016-07-25 08:47:30,852 INFO sqlalchemy.engine.base.Engine ()
parlementaire_amendement 649062 6 Index(['id', 'parlementaire_id', 'amendement_id', 'numero_signataire',
       'created_at', 'updated_at'],
      dtype='object')

,id,parlementaire_id,amendement_id,numero_signataire,created_at,updated_at
0,1,401,1,1,2011-12-05 03:53:56,2011-12-05 03:53:56
1,2,401,2,1,2011-12-05 03:53:56,2011-12-05 03:53:56
2,3,132,4,1,2011-12-05 03:53:56,2011-12-05 03:53:56
3,4,166,5,1,2011-12-05 03:53:56,2011-12-05 03:53:56
4,5,8,6,1,2011-12-05 03:53:56,2011-12-05 03:53:56

parlementaire_organisme
2016-07-25 08:47:38,700 INFO sqlalchemy.engine.base.Engine SELECT * FROM parlementaire_organisme
2016-07-25 08:47:38,701 INFO sqlalchemy.engine.base.Engine ()
parlementaire_organisme 4186 5 Index(['fonction', 'importance', 'debut_fonction', 'organisme_id',
       'parlementaire_id'],
      dtype='object')

,fonction,importance,debut_fonction,organisme_id,parlementaire_id
0,président délégué,92,None,175,417
1,membre,50,None,3,2
2,membre,50,None,16,3
3,membre,50,None,7,3
4,membre,50,None,486,3

parlementaire_photo
2016-07-25 08:47:38,733 INFO sqlalchemy.engine.base.Engine SELECT * FROM parlementaire_photo
2016-07-25 08:47:38,734 INFO sqlalchemy.engine.base.Engine ()
parlementaire_photo 706 3 Index(['id', 'slug', 'photo'], dtype='object')

,id,slug,photo
0,1,michel-le-scouarnec,/9j/4AAQSkZJRgABAgAAAQABAAD/4RAHRXhpZgAASUkqAA...
1,2,monique-cerisier-ben-guiga,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAA...
2,3,alain-le-vern,/9j/4AAQSkZJRgABAgAAAQABAAD/4RGxRXhpZgAASUkqAA...
3,4,sophie-primas,/9j/4AAQSkZJRgABAgAAAQABAAD/4RJ5RXhpZgAASUkqAA...
4,5,jean-pierre-vial,/9j/4AAQSkZJRgABAgAAAQABAAD/4RJyRXhpZgAASUkqAA...

parlementaire_texteloi
2016-07-25 08:47:38,800 INFO sqlalchemy.engine.base.Engine SELECT * FROM parlementaire_texteloi
2016-07-25 08:47:38,801 INFO sqlalchemy.engine.base.Engine ()
parlementaire_texteloi 35795 7 Index(['id', 'parlementaire_id', 'texteloi_id', 'importance', 'fonction',
       'created_at', 'updated_at'],
      dtype='object')

,id,parlementaire_id,texteloi_id,importance,fonction,created_at,updated_at
0,1,296,20042005-426,3,"Rapporteur pour la Commission des finances, du...",2011-12-05 06:19:48,2011-12-05 06:19:48
1,2,38,20042005-223,1,Auteur,2011-12-05 06:19:48,2011-12-05 06:19:48
2,3,299,20102011-184,3,"Rapporteur pour la Commission de la culture, d...",2011-12-05 06:19:48,2011-12-05 06:19:48
3,4,559,20072008-418,3,Rapporteur pour la Commission des affaires étr...,2011-12-05 06:19:49,2011-12-05 06:19:49
4,5,212,20102011-324,3,Rapporteur pour la Commission des affaires étr...,2011-12-05 06:19:49,2011-12-05 06:19:49

personnalite
2016-07-25 08:47:39,307 INFO sqlalchemy.engine.base.Engine SELECT * FROM personnalite
2016-07-25 08:47:39,308 INFO sqlalchemy.engine.base.Engine ()
personnalite 7264 9 Index(['id', 'nb_commentaires', 'nom', 'nom_de_famille', 'sexe',
       'date_naissance', 'created_at', 'updated_at', 'slug'],
      dtype='object')

,id,nb_commentaires,nom,nom_de_famille,sexe,date_naissance,created_at,updated_at,slug
0,1,None,Un sénateur du groupe socialiste,None,None,None,2011-11-05 22:03:57,2011-11-05 22:03:57,un-senateur-du-groupe-socialiste
1,2,None,Christine Albanel,None,None,None,2011-11-05 22:03:58,2011-11-05 22:03:58,christine-albanel
2,3,None,Xavier Bertrand,None,None,None,2011-11-05 22:04:43,2011-11-05 22:04:43,xavier-bertrand
3,4,None,Brice Hortefeux,None,None,None,2011-11-05 22:04:54,2011-11-05 22:04:54,brice-hortefeux
4,5,None,Jean-François Copé,None,None,None,2011-11-05 22:05:04,2011-11-05 22:05:04,jean-francois-cope

presence
2016-07-25 08:47:39,427 INFO sqlalchemy.engine.base.Engine SELECT * FROM presence
2016-07-25 08:47:39,428 INFO sqlalchemy.engine.base.Engine ()
presence 245887 7 Index(['id', 'parlementaire_id', 'seance_id', 'nb_preuves', 'date',
       'created_at', 'updated_at'],
      dtype='object')

,id,parlementaire_id,seance_id,nb_preuves,date,created_at,updated_at
0,1,247,1,1,2011-10-05,2011-11-05 22:03:56,2011-11-05 22:03:56
1,2,44,1,1,2011-10-05,2011-11-05 22:03:56,2011-11-05 22:03:56
2,3,164,1,1,2011-10-05,2011-11-05 22:03:57,2011-11-05 22:03:57
3,4,150,1,1,2011-10-05,2011-11-05 22:03:57,2011-11-05 22:03:57
4,5,186,1,1,2011-10-05,2011-11-05 22:03:57,2011-11-05 22:03:57

preuve_presence
2016-07-25 08:47:42,728 INFO sqlalchemy.engine.base.Engine SELECT * FROM preuve_presence
2016-07-25 08:47:42,729 INFO sqlalchemy.engine.base.Engine ()
preuve_presence 273325 6 Index(['id', 'presence_id', 'type', 'source', 'created_at', 'updated_at'], dtype='object')

,id,presence_id,type,source,created_at,updated_at
0,1,1,intervention,http://www.senat.fr/seances/s201110/s20111005/...,2011-11-05 22:03:56,2011-11-05 22:03:57
1,2,2,intervention,http://www.senat.fr/seances/s201110/s20111005/...,2011-11-05 22:03:56,2011-11-05 22:03:56
2,7,7,intervention,http://www.senat.fr/seances/s200901/s20090112/...,2011-11-05 22:03:57,2011-11-05 22:04:23
3,3,3,intervention,http://www.senat.fr/seances/s201110/s20111005/...,2011-11-05 22:03:57,2011-11-05 22:03:57
4,4,4,intervention,http://www.senat.fr/seances/s201110/s20111005/...,2011-11-05 22:03:57,2011-11-05 22:03:57

question
2016-07-25 08:47:46,092 INFO sqlalchemy.engine.base.Engine SELECT * FROM question
2016-07-25 08:47:46,093 INFO sqlalchemy.engine.base.Engine ()
question 70096 17 Index(['id', 'nb_commentaires', 'source', 'legislature', 'type', 'numero',
       'date', 'date_cloture', 'ministere', 'titre', 'question', 'reponse',
       'motif_retrait', 'content_md5', 'parlementaire_id', 'created_at',
       'updated_at'],
      dtype='object')

,id,nb_commentaires,source,legislature,type,numero,date,date_cloture,ministere,titre,question,reponse,motif_retrait,content_md5,parlementaire_id,created_at,updated_at
0,1,NaN,http://www.senat.fr/questions/base/2010/qSEQ10...,13,Question écrite,14956,2010-09-09,2010-10-21,Ministère de la culture et de la communication,Opposition au projet de privatisation des arch...,<p>M. Claude Bérit-Débat attire l'attention de...,<p>La réutilisation des informations publiques...,None,22c19df629ecf5167d705ea95acb6e4e,389,2011-12-05 03:30:47,2011-12-05 03:30:47
1,2,NaN,http://www.senat.fr/questions/base/2008/qSEQ08...,13,Question écrite,03850,2008-03-27,None,Secrétariat d'État chargé des transports,Vérification des matériels de contrôle de vitesse,<p>M. André Vallet attire l'attention de M. le...,,fin de mandat,e5e57acdd1eeada83efa7f4c7ecb1873,332,2011-12-05 03:30:48,2011-12-05 03:30:48
2,3,NaN,http://www.senat.fr/questions/base/2005/qSEQ05...,12,Question écrite,19666,2005-10-06,2005-12-08,"Ministère de la jeunesse, des sports et de la ...",Difficultés financières des associations d'édu...,<p>M. Jean-Pierre Demerliat appelle l'attentio...,<p>L'honorable parlementaire a bien voulu fair...,None,8cea5e388da338e182174dd1558f2570,160,2011-12-05 03:30:48,2011-12-05 03:30:48
3,4,NaN,http://www.senat.fr/questions/base/2005/qSEQ05...,12,Question d'actualité au gouvernement,05G0475,2005-03-18,2005-03-18,Ministère délégué à l'industrie,Attractivité de la région Nord Pas de Calais e...,<p>M. Ivan Renar. Ma question s'adresse à M. l...,"<p>M. Patrick Devedjian, ministre délégué à l'...",None,2b8e389f057d8a84948d0690c9eb2000,499,2011-12-05 03:30:48,2011-12-05 03:30:48
4,5,NaN,http://www.senat.fr/questions/base/2011/qSEQ11...,13,Question écrite,20166,2011-09-29,2011-12-22,Secrétariat d'État chargé du logement,Difficultés rencontrées par le secteur de la l...,<p>M. Robert Navarro attire l'attention de M. ...,"<p>Le Gouvernement a engagé, le 10 novembre 20...",None,dba9b995424aad507f6258786becdd16,360,2011-12-05 03:30:48,2012-04-19 13:20:27

seance
2016-07-25 08:47:50,348 INFO sqlalchemy.engine.base.Engine SELECT * FROM seance
2016-07-25 08:47:50,349 INFO sqlalchemy.engine.base.Engine ()
seance 12665 12 Index(['id', 'nb_commentaires', 'date', 'numero_semaine', 'annee', 'type',
       'moment', 'organisme_id', 'tagged', 'session', 'created_at',
       'updated_at'],
      dtype='object')

,id,nb_commentaires,date,numero_semaine,annee,type,moment,organisme_id,tagged,session,created_at,updated_at
0,1,NaN,2011-10-05,40,2011,hemicycle,15:00,NaN,1.0,20112012,2011-11-05 22:03:56,2011-12-04 23:58:21
1,2,NaN,2009-01-12,3,2009,hemicycle,15:00,NaN,1.0,20082009,2011-11-05 22:03:57,2011-12-04 23:58:26
2,3,NaN,2009-01-12,3,2009,hemicycle,21:45,NaN,1.0,20082009,2011-11-05 22:04:24,2011-12-04 23:58:29
3,4,NaN,2007-01-18,3,2007,hemicycle,10:00,NaN,1.0,20062007,2011-11-05 22:04:42,2011-12-04 23:58:31
4,5,NaN,2007-01-18,3,2007,hemicycle,15:00,NaN,1.0,20062007,2011-11-05 22:04:53,2011-12-04 23:58:32

section
2016-07-25 08:47:50,605 INFO sqlalchemy.engine.base.Engine SELECT * FROM section
2016-07-25 08:47:50,606 INFO sqlalchemy.engine.base.Engine ()
section 57223 13 Index(['id', 'nb_commentaires', 'md5', 'titre', 'titre_complet', 'section_id',
       'min_date', 'max_date', 'timestamp', 'nb_interventions',
       'id_dossier_institution', 'created_at', 'updated_at'],
      dtype='object')

,id,nb_commentaires,md5,titre,titre_complet,section_id,min_date,max_date,timestamp,nb_interventions,id_dossier_institution,created_at,updated_at
0,1,NaN,89b0b2e1f9f84d0c8b82302e893fe27b,procès-verbal,procès-verbal,1,2004-10-0716:00,2016-06-24,40.0,6.0,None,2011-11-05 22:03:56,2016-06-29 04:13:08
1,2,NaN,222aac4b1956b57e4f8cde3b570de4dc,déclarations de présidents de groupe,déclarations de présidents de groupe,2,2010-10-0514:30,2014-10-08,60.0,0.0,None,2011-11-05 22:03:56,2014-10-11 04:09:32
2,3,NaN,fe9fa37d97b0ebd00bc722551fccea6d,désignation des vice-présidents des questeurs ...,désignation des vice-présidents des questeurs ...,3,2011-10-0515:00,2014-10-08,120.0,0.0,None,2011-11-05 22:03:56,2014-10-11 04:09:33
3,4,NaN,b1afbe4787a5d5fb06f227b33b0f5ab8,communication du conseil constitutionnel,communication du conseil constitutionnel,4,2005-01-1810:00,2016-06-24,60.0,0.0,None,2011-11-05 22:03:56,2016-06-29 04:20:34
4,5,NaN,5e58a2bda1c7639619ddd69d07b68d85,dépôt d'un rapport du gouvernement,dépôt d'un rapport du gouvernement,5,2004-10-0610:15,2015-01-14,60.0,1.0,None,2011-11-05 22:03:56,2015-01-18 04:12:13

tag
2016-07-25 08:47:51,781 INFO sqlalchemy.engine.base.Engine SELECT * FROM tag
2016-07-25 08:47:51,782 INFO sqlalchemy.engine.base.Engine ()
tag 24136 6 Index(['id', 'name', 'is_triple', 'triple_namespace', 'triple_key',
       'triple_value'],
      dtype='object')

,id,name,is_triple,triple_namespace,triple_key,triple_value
0,1,loi:numero=20082009-145,1,loi,numero,20082009-145
1,2,loi:numero=20082009-150,1,loi,numero,20082009-150
2,3,loi:numero=20082009-151,1,loi,numero,20082009-151
3,4,loi:numero=20082009-152,1,loi,numero,20082009-152
4,5,loi:amendement=5,1,loi,amendement,5

tagging
2016-07-25 08:47:51,911 INFO sqlalchemy.engine.base.Engine SELECT * FROM tagging
2016-07-25 08:47:51,911 INFO sqlalchemy.engine.base.Engine ()
tagging 4908375 4 Index(['id', 'tag_id', 'taggable_model', 'taggable_id'], dtype='object')

   id  tag_id taggable_model taggable_id
0   1       1   Intervention          55
1   2       2   Intervention          55
2   3       3   Intervention          55
3   4       4   Intervention          55
4   5       1   Intervention          56

texteloi
2016-07-25 08:48:11,211 INFO sqlalchemy.engine.base.Engine SELECT * FROM texteloi
2016-07-25 08:48:11,211 INFO sqlalchemy.engine.base.Engine ()
texteloi 11031 16 Index(['id', 'nb_commentaires', 'numero', 'annexe', 'type', 'type_details',
       'categorie', 'id_dossier_institution', 'titre', 'date', 'source',
       'organisme_id', 'signataires', 'contenu', 'created_at', 'updated_at'],
      dtype='object')

,id,nb_commentaires,numero,annexe,type,type_details,categorie,id_dossier_institution,titre,date,source,organisme_id,signataires,contenu,created_at,updated_at
0,20042005-426,NaN,426,None,Rapport d'information,", au nom de la commission des finances, du con...",None,None,Le maintien en condition opérationnelle de la ...,2005-06-22,http://www.senat.fr/rap/r04-426/r04-426_mono.html,371.0,"M. Yves Fréville Rapporteur, Commission des fi...",H4sIAAAAAAAAA8y9TW/kaJIm+Fe4h4QkgFKGpNBX5qHhKS...,2011-12-05 06:19:47,2011-12-05 06:19:48
1,20042005-223,NaN,223,None,Proposition de résolution,", au nom de la délégation pour l'union europée...",None,ppr04-223,quel avenir pour le collège européen de police ?,2005-03-03,http://www.senat.fr/leg/ppr04-223.html,NaN,M. Robert del Picchia Auteur,H4sIAAAAAAAAA5xay3Icx5X9ldy1GNGNkCnLctgLBwGSEj...,2011-12-05 06:19:48,2011-12-05 06:19:48
2,20062007-179,NaN,179,None,Projet de loi,ratifiant,None,pjl06-179,l'ordonnance n° 2006-1547 du 7 décembre 2006 r...,2007-01-24,http://www.senat.fr/leg/pjl06-179.html,NaN,M. Dominique Bussereau Ministre de l'agricultu...,H4sIAAAAAAAAA9Ray3IbxxX9ld5Rqhqy+JIU2yvGpFNw0a...,2011-12-05 06:19:48,2011-12-05 06:19:48
3,20092010-312,NaN,312,None,Texte de la commission,", sur le projet de loi, adopté par l'Assemblée...",None,pjl09-273,autorisant l'approbation de l'accord entre le ...,2010-02-23,http://www.senat.fr/leg/pjl09-312.html,20.0,"Commission des affaires étrangères, de la défe...",H4sIAAAAAAAAA+RVS3LjNhC9Su9sV1EufzLxjLPSh3LsiJ...,2011-12-05 06:19:48,2011-12-05 06:19:48
4,20102011-184,NaN,184,None,Rapport d'information,ntroduction,None,None,Les CREPS dans la tourmente de la RGPP,2010-12-15,http://www.senat.fr/rap/r10-184/r10-184_mono.html,2.0,"M. Jean-Jacques Lozach Rapporteur, Commission ...",H4sIAAAAAAAAA9S9227cWJIu/Cq8GUj6kVIrdbLkviioZF...,2011-12-05 06:19:48,2011-12-05 06:19:48

titre_loi
2016-07-25 08:48:12,121 INFO sqlalchemy.engine.base.Engine SELECT * FROM titre_loi
2016-07-25 08:48:12,122 INFO sqlalchemy.engine.base.Engine ()
titre_loi 0 14 Index(['id', 'nb_commentaires', 'texteloi_id', 'chapitre', 'section', 'titre',
       'expose', 'parlementaire_id', 'date', 'source', 'nb_articles',
       'titre_loi_id', 'created_at', 'updated_at'],
      dtype='object')

Empty DataFrame
Columns: [id, nb_commentaires, texteloi_id, chapitre, section, titre, expose, parlementaire_id, date, source, nb_articles, titre_loi_id, created_at, updated_at]
Index: []

variable_globale
2016-07-25 08:48:12,141 INFO sqlalchemy.engine.base.Engine SELECT * FROM variable_globale
2016-07-25 08:48:12,142 INFO sqlalchemy.engine.base.Engine ()
variable_globale 147 5 Index(['id', 'champ', 'value', 'created_at', 'updated_at'], dtype='object')

,id,champ,value,created_at,updated_at
0,1,session,"b'a:12:{i:20152016;s:10:""2015-10-01"";i:2014201...",2011-11-06 18:08:34,2015-10-06 09:03:51
1,2,vacances,"b'a:166:{i:0;a:2:{s:5:""annee"";s:4:""2004"";s:7:""...",2011-11-06 18:08:35,2016-06-29 04:59:05
2,105,stats_month_2012_12,"b'a:349:{i:1;a:14:{s:6:""01_nom"";a:1:{s:5:""valu...",2012-12-01 07:12:23,2016-06-01 06:15:21
3,3,stats_groupes,"b'a:7:{s:3:""CRC"";a:13:{s:6:""groupe"";a:2:{s:5:""...",2011-11-06 18:08:41,2016-06-30 04:53:08
4,4,dossiers,"b'a:9:{s:83:""loi de finances rectificative pou...",2011-12-13 18:09:09,2015-06-29 21:13:03